body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(to right, rgb(24, 163, 218), rgb(9, 224, 9));
  color: white;
}

.container
{
  background-color: #0a1d47;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 0px 10px 2px #000000;
  width: 25%;
}

.input {
  color: white;
  border: none;
  font-size: 24px;
  width: 100%;
  text-align: right;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
}